    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2018 09:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-tablet:before { content: "\f100"; }
.flaticon-002-cellular:before { content: "\f101"; }
.flaticon-003-cellular-phone:before { content: "\f102"; }
.flaticon-004-iphone-2:before { content: "\f103"; }
.flaticon-005-tablet-pen:before { content: "\f104"; }
.flaticon-006-iphone-1:before { content: "\f105"; }
.flaticon-007-router:before { content: "\f106"; }
.flaticon-008-remote-control:before { content: "\f107"; }
.flaticon-009-cpu-tower:before { content: "\f108"; }
.flaticon-010-ethernet:before { content: "\f109"; }
.flaticon-011-mouse:before { content: "\f10a"; }
.flaticon-012-ipod:before { content: "\f10b"; }
.flaticon-013-smartwatch:before { content: "\f10c"; }
.flaticon-014-wristwatch:before { content: "\f10d"; }
.flaticon-015-graphic-tablet-1:before { content: "\f10e"; }
.flaticon-016-microphone-2:before { content: "\f10f"; }
.flaticon-017-smartphone-2:before { content: "\f110"; }
.flaticon-018-microphone-1:before { content: "\f111"; }
.flaticon-019-microphone:before { content: "\f112"; }
.flaticon-020-pc-tower:before { content: "\f113"; }
.flaticon-021-keyboard:before { content: "\f114"; }
.flaticon-022-joystick-1:before { content: "\f115"; }
.flaticon-023-joystick:before { content: "\f116"; }
.flaticon-024-gameboy-1:before { content: "\f117"; }
.flaticon-025-pc-screen:before { content: "\f118"; }
.flaticon-026-gameboy:before { content: "\f119"; }
.flaticon-027-mixer:before { content: "\f11a"; }
.flaticon-028-iphone:before { content: "\f11b"; }
.flaticon-029-old-computer:before { content: "\f11c"; }
.flaticon-030-motherboard-1:before { content: "\f11d"; }
.flaticon-031-motherboard:before { content: "\f11e"; }
.flaticon-032-video-card:before { content: "\f11f"; }
.flaticon-033-mini:before { content: "\f120"; }
.flaticon-034-ram:before { content: "\f121"; }
.flaticon-035-processor:before { content: "\f122"; }
.flaticon-036-ssd:before { content: "\f123"; }
.flaticon-037-disk:before { content: "\f124"; }
.flaticon-038-radio:before { content: "\f125"; }
.flaticon-039-smartphone-1:before { content: "\f126"; }
.flaticon-040-wrist:before { content: "\f127"; }
.flaticon-041-projector-1:before { content: "\f128"; }
.flaticon-042-projector:before { content: "\f129"; }
.flaticon-043-video-camera-1:before { content: "\f12a"; }
.flaticon-044-camera-2:before { content: "\f12b"; }
.flaticon-045-camera-1:before { content: "\f12c"; }
.flaticon-046-gopro:before { content: "\f12d"; }
.flaticon-047-camera:before { content: "\f12e"; }
.flaticon-048-video-camera:before { content: "\f12f"; }
.flaticon-049-graphic-tablet:before { content: "\f130"; }
.flaticon-050-smartphone:before { content: "\f131"; }
    
    $font-Flaticon-001-tablet: "\f100";
    $font-Flaticon-002-cellular: "\f101";
    $font-Flaticon-003-cellular-phone: "\f102";
    $font-Flaticon-004-iphone-2: "\f103";
    $font-Flaticon-005-tablet-pen: "\f104";
    $font-Flaticon-006-iphone-1: "\f105";
    $font-Flaticon-007-router: "\f106";
    $font-Flaticon-008-remote-control: "\f107";
    $font-Flaticon-009-cpu-tower: "\f108";
    $font-Flaticon-010-ethernet: "\f109";
    $font-Flaticon-011-mouse: "\f10a";
    $font-Flaticon-012-ipod: "\f10b";
    $font-Flaticon-013-smartwatch: "\f10c";
    $font-Flaticon-014-wristwatch: "\f10d";
    $font-Flaticon-015-graphic-tablet-1: "\f10e";
    $font-Flaticon-016-microphone-2: "\f10f";
    $font-Flaticon-017-smartphone-2: "\f110";
    $font-Flaticon-018-microphone-1: "\f111";
    $font-Flaticon-019-microphone: "\f112";
    $font-Flaticon-020-pc-tower: "\f113";
    $font-Flaticon-021-keyboard: "\f114";
    $font-Flaticon-022-joystick-1: "\f115";
    $font-Flaticon-023-joystick: "\f116";
    $font-Flaticon-024-gameboy-1: "\f117";
    $font-Flaticon-025-pc-screen: "\f118";
    $font-Flaticon-026-gameboy: "\f119";
    $font-Flaticon-027-mixer: "\f11a";
    $font-Flaticon-028-iphone: "\f11b";
    $font-Flaticon-029-old-computer: "\f11c";
    $font-Flaticon-030-motherboard-1: "\f11d";
    $font-Flaticon-031-motherboard: "\f11e";
    $font-Flaticon-032-video-card: "\f11f";
    $font-Flaticon-033-mini: "\f120";
    $font-Flaticon-034-ram: "\f121";
    $font-Flaticon-035-processor: "\f122";
    $font-Flaticon-036-ssd: "\f123";
    $font-Flaticon-037-disk: "\f124";
    $font-Flaticon-038-radio: "\f125";
    $font-Flaticon-039-smartphone-1: "\f126";
    $font-Flaticon-040-wrist: "\f127";
    $font-Flaticon-041-projector-1: "\f128";
    $font-Flaticon-042-projector: "\f129";
    $font-Flaticon-043-video-camera-1: "\f12a";
    $font-Flaticon-044-camera-2: "\f12b";
    $font-Flaticon-045-camera-1: "\f12c";
    $font-Flaticon-046-gopro: "\f12d";
    $font-Flaticon-047-camera: "\f12e";
    $font-Flaticon-048-video-camera: "\f12f";
    $font-Flaticon-049-graphic-tablet: "\f130";
    $font-Flaticon-050-smartphone: "\f131";